.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.btn_toggle {
	border: none;
	background-color: var(--background-color-2);
	border-radius: 100px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: .5rem;
	padding: .25rem .3rem;
	position: relative;
	width: 3.6rem;
	height: 1.8rem;
	cursor: pointer;
}


.btn_toggle ::after {
	content: "";
	display: block;
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: var(--text-color);
	border-radius: 100px;
	top: 0;
	left: 0;
	right: unset;
	transition: .3s ease all;
}

.btn_toggle.isPremium ::after {
	content: "";
	display: block;
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: var(--text-color);
	border-radius: 100px;
	top: 0;
	left: unset;
	right: 0;
	transition: .3s ease all;
}

.text_disabled {
	color: var(--gray-color-2);
}