.home::after {
  content: '';
  width: 100%;
  height: 40vh;
  max-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgb(226, 58, 58) 75%, rgb(171, 53, 53));
}

.home__main {
  max-width: 90rem;
  margin: 0 auto;
  display: block;
}

.home__main_sections {
  display: block;
}

.subTitle {
  margin: 2rem 1rem;
  text-transform: uppercase;
}

.home__seemore {
  text-decoration: none;
  color: red;
  display: block;
  text-align: center;
  margin-top: -15px;
}



@media screen and (min-width: 768px) {
  .home__main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
  }
  .subTitle {
    margin: 2rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .home__main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .subTitle {
    margin: 2rem 0;
  }
  .home__seemore {
    text-align: right;
    margin-top: 10px;
  }
}
