.home::after {
  content: '';
  width: 100%;
  height: 40vh;
  max-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgb(226, 58, 58) 75%, rgb(171, 53, 53));
}

.home__main {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home__main_sections {
  grid-area: main;
  display: block;
}
.home__main_search {
  grid-area: search;
  display: block;
  display: flex;
  margin-top: 20px;
  /* align-items: center; */
}
.home__main_aside {
  grid-area: aside;
  display: block;
}

.subTitle {
  margin: 2rem 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.home__seemore {
  text-decoration: none;
  color: var(--primary-color);
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home__main {
    display: grid;
    grid-template-areas:
      'main main main search'
      'main main main aside'
      'main main main aside'
      'main main main aside'
      'main main main aside'
      'main main main aside'
      'main main main aside';
  }
  .subTitle {
    margin: 2rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .subTitle {
    margin: 2rem 0;
  }
  .home__seemore {
    text-align: right;
    margin-top: 10px;
  }
}
