.userProfile__container {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 1.5rem 1rem 1rem;
  background: var(--background-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}
.userProfile__title {
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 1rem;
}

.userProfile__info {
  margin: 20px 0;
  list-style: none;
}

.userProfile__info li {
  margin-bottom: 10px;
}

.userProfile__info li span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.userProfile__options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 1rem;
}

.userProfile__btn {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  background: var(--background-color);
}

.userProfile__btn:hover {
  background: var(--primary-color);
  color: var(--background-color);
}

.userProfile__btn_logout {
  margin-top: 3rem;
  background: var(--primary-color);
  color: var(--background-color);
}
