.userProfile__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem;
  max-width: 50rem;
  margin: 0 auto;
}
.userProfile__container__header {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  border: 2px solid var(--gray-color-2);
  padding: 1rem;
  width: 100%;
  height: fit-content;
}
.userProfile__title {
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 1rem;
}

.userProfile__info {
  margin: 20px 0;
  list-style: none;
}

.userProfile__info li {
  margin-bottom: 10px;
}

.userProfile__info li span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.userProfile__btn_logout {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  background: var(--primary-color);
  color: var(--background-color);
}

.userProfile__options {
  border-radius: 10px;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  background: var(--background-color);
  border: 2px solid var(--gray-color-2);
  padding: 1rem;
  width: 100%;
} 


@media (max-width: 768px) {
  .userProfile__container {
    grid-template-columns: 1fr;
    max-width: 35rem;
  }
}
