.search {
	background-color: var(--background-color);
  width: 100%;
	display: block;
}

.search > input {
	background-color: var(--input-color);
  color: var(--text-color);
  border: .1rem solid var(--gray-color-2);
  display: block;
  font-size: .9rem;
  margin-bottom: .3rem;
  max-width: 30rem;
  padding: .5rem 1rem;
  width: 100%;
}

