.titleNews {
  padding: 0 1rem;
}

.search {
  width: 100%;
  margin: 1rem;
}

.search > input {
  display: block;
  width: 100%;
  max-width: 25rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: var(--gray-color);
  border: none;
  margin-bottom: .3rem;
}

