.lastSearch {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 20px 10px;
  background-color: var(--gray-color);
}
.lastSearch a {
  color: var(--text-color);
  text-decoration: none;
}
.lastSearch a:hover {
  text-decoration: underline;
}

.lastArticles {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.lastArticles > article {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.lastArticles a {
  color: var(--text-color);
  font-family: var(--font-article);
  text-decoration: none;
}
.lastArticles a:hover {
  text-decoration: underline;
}

.lastArticles small {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem 0.5rem;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .lastArticles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .lastArticles {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
