.modalToChangePlan {
  background-color: var(--background-color-2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.modalToChangePlan_header {
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
  font-size: 18px;
}

.modalToChangePlan_title {
  font-size: 21px;
}

.modalToChangePlan_body {
  padding: 10px 20px 0;
}

.modalToChangePlan_body ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.modalToChangePlan_body ul li {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.modalToChangePlan_footer {
  background-color: var(--background-color-2);
  padding: 20px;
  text-align: center;
}

.modalToChangePlan_footer button {
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 668px) {
  .modalToChangePlan {
    max-width: 22rem;
    position: static;
  }
}
