@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300;6..72,400;6..72,500;6..72,600&display=swap');

:root {
  --text-color: #242424;
  --text-color-gray: #828282;
  --background-color: #f1f1f1;
  --gray-color: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: .1rem solid red; */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
  @MEDIA QUERYS

  MOVIL < 600PX
  TABLET > 600PX
  DESKTOP > 1024PX
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1220px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin: 0 auto;
  box-sizing: border-box;
}
