.verifyEmail_container {
  margin: 0 auto 20px;
}

.verifyEmail {
  padding: 10px 20px 20px;
  background: var(--primary-color);
  color: var(--background-color);
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.verifyEmail_options {
  margin-top: 15px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 10px;
}

.verifyEmail_btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  background: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}

.verifyEmail_moreInfo {
  margin-top: 20px;
  padding-left: 22px;
  font-weight: normal;
}

.verifyEmail_moreInfo a {
  text-decoration: none;
  color: var(--background-color);
  font-weight: bold;
}
